extends layout

block content
  h1 Search Your Train!!
  p Select your train below to see its current schedule.
  #wrapper
    #trainList
<<<<<<< HEAD
<<<<<<< HEAD
    # Added new feature
=======
<<<<<<< HEAD
      Change Flights
=======
      New Trains
>>>>>>> refs/remotes/origin/newBranch
>>>>>>> newBranch
=======
>>>>>>> parent of 94382d8... Finish a feature
      h2 Trains
      Added new Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
